!!! 
%html
  %body
    - provide(:title, "Contact")
    %title
      = yield(:title)
    %h1
      Contact 
    %p Contact the Ruby on Rails Tutorial about the sample add at the 
    = link_to "Rails Tutorial", "https://www.railstutorial.org/contact"


